.expense-item{
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    background-color: rgb(2, 154, 154);
    width: 100%;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    color: #fff; 
}

.expense-item__date{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgb(0, 158, 179);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 20px 0px;
    color: #fff;
}

.expense-item__description{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 4;
}

.expense-item__price{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 158, 179);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 20px 40px;
    font-weight: bold;
    color: #fff;
}