.new-expense{
    padding: 20px 50px;
    border-radius: 20px;
    width: 100%;
}

.new-expense__button{
    background: rgb(0, 158, 179);
    /* box-shadow: 0 5px 10px rgba(241, 214, 214, 0.2); */
    font-size: larger;
    margin: 0 5px;
    border: none;
    border-radius: 10px;
    padding: 40px 40px;
    color: #fff;
}